@{
    ViewData["Title"] = "Home Page";
    Layout = "LayoutIndex";
}

<div class="container">
    <div class="row justify-content-lg-start">
        <div class="col-sm-8">
            <h1>Welcome!</h1>
            <p>
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </p>
        </div>
        <div class="col-sm-4 border-left">
            <h2>About this Page</h2>
            <p>
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-4 border-left">
            <h2>Find out more!</h2>
            <p>
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit,
                orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum
                tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque
                eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </p>
        </div>
    </div>
</div>