@{
    ViewData["Title"] = "Pokemon Worker";
    Layout = "LayoutIndex";
}

<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalForm">Add</button>

<table id="tableGridWorkerList" class="table table-hover">
    <thead>
        <tr>
            <th>NIK</th>
            <th>Full Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody id="GridWorkerList">
    </tbody>
    <tfoot>
        <tr>
            <th>NIK</th>
            <th>Full Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
        </tr>
    </tfoot>
</table>

<div id="divToast" aria-live="polite" aria-atomic="true" style="position: fixed; bottom:0px; right:0px; min-height: 200px;" data-delay="5000">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <img src="~/img/logo.png" style="width:5px; height: 5px" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="divToastBody" class="toast-body">

        </div>
    </div>
</div>

<div class="modal fade" id="modalEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEmployeeTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalEmployeeBody" class="modal-body">
                <div id="cardDetailEmployee" class="card mb-2">
                    <div class="card-header" data-toggle="collapse" data-target="#innerDetailEmployee" aria-expanded="true">
                        Employee Details
                    </div>
                    <div id="innerDetailEmployee" class="card-body">
                        <form id="formEditEmployee" class="needs-validation" novalidate>
                            <div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="formFirstName">First name</label>
                                        <input type="text" class="form-control" readonly id="formFirstName" value="Mark">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="formLastName">Last name</label>
                                        <input type="text" class="form-control" readonly id="formLastName" value="Otto">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="formEmail">Email</label>
                                        <input type="text" class="form-control" id="formEmail" placeholder="Email" value="someone@domain.com" required>
                                        <div class="invalid-feedback">
                                            Please provide an Email.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="formNIK">NIK</label>
                                        <input type="text" class="form-control" readonly id="formNIK" placeholder="12345" value="12345">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="formSalary">Salary</label>
                                        <input type="text" class="form-control" id="formSalary" placeholder="500000000" value="1000000" required>
                                        <div class="invalid-feedback">
                                            Please provide a Salary.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="formPhone">Phone Number</label>
                                        <input type="text" class="form-control" id="formPhone" placeholder="Phone" value="55555" required>
                                        <div class="invalid-feedback">
                                            Please provide a phone number.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="formDate">Birth Date</label>
                                        <input type="date" class="form-control" readonly id="formDate" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="formGender">Gender</label>
                                        <input type="text" class="form-control" id="formGender" readonly placeholder="Gender" value="Male">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit" onclick="showToast()">Update data</button>
                        </form>
                    </div>
                </div>
                <div id="cardDetailEducation" class="card mb-2">
                    <div class="card-header" data-toggle="collapse" data-target="#innerDetailEducation" aria-expanded="true">
                        Education Details
                    </div>
                    <div id="innerDetailEducation" class="card-body">
                        <form id="formEditEducation" class="needs-validation" novalidate>
                            <div>
                                <div class="form-row mt-2">
                                    <div class="col-md-4 mb-3">
                                        <label for="formUniversity">University</label>
                                        <select id="formUniversity" class="form-control" required>
                                            <option value=1>Universitas Pokemon</option>
                                            <option value=2>GachArena</option>
                                            <option value=3>Poke Institute</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please choose a University.
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="formDegree">Degree</label>
                                        <select id="formDegree" class="form-control" required>
                                            <option value=1>D3</option>
                                            <option value=2>D4</option>
                                            <option value=3>S1</option>
                                            <option value=4>S2</option>
                                            <option value=5>S3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="formGPA">GPA</label>
                                        <input type="text" class="form-control" id="formGPA" placeholder="GPA" value="3.50" required>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Update data</button>
                        </form>
                    </div>
                </div>
                <div id="cardDetailRoles" class="card mb-3">
                    <div class="card-header" data-toggle="collapse" data-target="#innerDetailRoles" aria-expanded="true">
                        Roles Assignment
                    </div>
                    <div id="innerDetailRoles" class="card-body">
                        <h2 id="innerDetailRolesPlaceholder"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Insert New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalFormBody" class="modal-body">
                <form id="formRegisterEmployee" class="needs-validation"  novalidate>
                    <h3 id="headerEmployeeSection" data-toggle="collapse" data-target="#divEmployeeSection" aria-expanded="true"> [-] Employee Data</h3>
                    <div id="divEmployeeSection">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">First name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Last name</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustomUsername">Email</label>
                                <input type="text" class="form-control" id="validationCustomEmail" placeholder="Email" value="someone@domain.com" required>
                                <div class="invalid-feedback">
                                    Please provide an Email.
                                </div>
                            </div>
                        </div>
                        <div class="form-row border-bottom">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom03">Phone Number</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Phone" required>
                                <div class="invalid-feedback">
                                    Please provide a phone number.
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom04">Birth Date</label>
                                <input type="date" class="form-control" id="validationCustom04" required>
                                <div class="invalid-feedback">
                                    Please choose a valid date.
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="inputGender">Gender</label>
                                <select id="inputGender" class="form-control" required>
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please choose a Gender.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 id="headerEducationSection" data-toggle="collapse" data-target="#divEducationSection" aria-expanded="false"> [-] Education Data</h3>
                    <div id="divEducationSection" class="form-row mt-2">
                        <div class="col-md-4 mb-3">
                            <label for="inputUniversity">University</label>
                            <select id="inputUniversity" class="form-control" required>
                                <option value="1" selected>Universitas Pokemon</option>
                                <option value="2">GachArena</option>
                                <option value="3">Poke Institute</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a University.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="inputDegree">Degree</label>
                            <select id="inputDegree" class="form-control" required>
                                <option value="1" selected>D3</option>
                                <option value="2" >D4</option>
                                <option value="3" >S1</option>
                                <option value="4" >S2</option>
                                <option value="5" >S3</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a Degree.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom05">GPA</label>
                            <input type="text" class="form-control" id="validationCustom05" placeholder="GPA" value="3.50" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function showToast() {
        $('.toast').toast('show');
    }
</script>