@{
    ViewData["Title"] = "Pokemon Worker";
    Layout = "LayoutIndex";
}

<table id="tableGridWorkerList" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>NIK</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody id="GridWorkerList">
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>NIK</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>