@{
    ViewData["Title"] = "Pokemon Worker";
    Layout = "LayoutIndex";
}

<table id="tableGridWorkerList" class="table table-hover">
    <thead>
        <tr>
            <th>NIK</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody id="GridWorkerList">
    </tbody>
    <tfoot>
        <tr>
            <th>NIK</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="modalEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalEmployeeBody" class="modal-body">
                <ul class="nav nav-pills mt-2 mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab" aria-controls="pills-employee" aria-selected="true">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" aria-controls="pills-education" aria-selected="false">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-roles-tab" data-toggle="pill" href="#pills-roles" role="tab" aria-controls="pills-roles" aria-selected="false">Roles</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
                        <table id="tableDetailEmployee" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>NIK</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Birthdate</th>
                                    <th>Salary</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="GridEmployeeDetail">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>NIK</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Birthdate</th>
                                    <th>Salary</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">
                        <<div class="tab-pane fade show active" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
                            <table id="tableDetailEducation" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>University Name</th>
                                        <th>Degree</th>
                                        <th>GPA</th>
                                    </tr>
                                </thead>
                                <tbody id="GridEducationDetail">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>University Name</th>
                                        <th>Degree</th>
                                        <th>GPA</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-roles" role="tabpanel" aria-labelledby="pills-roles-tab">
                        <<table id="tableDetailRoles" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Role Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="GridRolesDetail">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Role Name</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>