@{
    ViewData["Title"] = "Pokemon Datamodal";
    Layout = "LayoutIndex";
}

<table id="tableGridPokelist" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody id="GridPokelist">
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </tfoot>
</table>